<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-light bg-light">
  <img width="300" alt="Angular Logo" src="../assets/ovhLogo.svg">
  <a class="navbar-brand" href="#">Ovh labs</a>
</nav>
<div class="m-4">
  <div style="text-align:center">
    <h1>Unit test - As a service</h1>
  </div>

  <div class="row">
    <div class="col-md-10">
      <p>Pytest is designed with the intention to have a pytest microservice which can be used by any python 2.7 based project to execute test-cases based on pytest and generate the reports in html format.</p>
      <p>This will facilitate faster dev while ensuring code quality both locally or on sdev, sdev preferred</p>
    </div>
  </div>
  <div class="row">
    <!-- Default dropright button -->
    <div class="col-md-4">
      <div class="oui-field">
        <label for="text-2" class="oui-field__label oui-label">Test type</label>
        <div class="oui-field__control">
          <select id="select" name="select" class="oui-select__input" ng-model="selectedValue">
            <option value="pytest">Pytest</option>
            <option value="junit" disabled>JUnit</option>
            <option value="junit" disabled>GoTest</option>
            <option value="junit" disabled>Molecule</option>
          </select>
        </div>
      </div>
      <div class="oui-field">
        <label for="text-2" class="oui-field__label oui-label">Project</label>
        <div class="oui-field__control">
          <input type="text" id="text-3" name="text-3" class="oui-input" value="agora">
        </div>
      </div>
      <div class="oui-field">
        <label for="text-2" class="oui-field__label oui-label">Repo path</label>
        <div class="oui-field__control">
          <input type="text" id="text-3" name="text-3" class="oui-input" value="agora-api">
        </div>
      </div>
      <div class="oui-field">
        <label for="text-2" class="oui-field__label oui-label">Test marker</label>
        <div class="oui-field__control">
          <input type="text" id="text-3" name="text-3" class="oui-input" value="ALL">
        </div>
      </div>
      <div class="oui-field">
        <label for="text-2" class="oui-field__label oui-label">SCM user</label>
        <div class="oui-field__control">
          <input type="text" id="text-3" name="text-3" class="oui-input" value="ashish.gupta">
        </div>
        <div class="oui-field__helper">SCM user that has public token (https) read access to the project on which it intends to run the tests</div>
      </div>
    </div>
    <div class="col-md-6 m-5">

    </div>
  </div>
  <button type="button" class="btn btn-primary col-md-2" (click)="runTest()">Run {{selectedValue}}
    <div class="oui-spinner oui-spinner_s" *ngIf="loading">
      <div class="oui-spinner__container">
        <div class="oui-spinner__image"></div>
      </div>
    </div>
  </button>
  <button *ngIf="showReport" type="button" class="btn btn-primary col-md-2 ml-3" (click)="getReport()">Get report</button>
</div>

<router-outlet></router-outlet>
