<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-light bg-light">
  <img width="300" alt="Angular Logo" src="../assets/ovhLogo.svg">
  <a class="navbar-brand" href="#">Ovh labs</a>
</nav>
<div class="m-4">
  <div style="text-align:center">
    <h1>Pytest</h1>
  </div>

  <div class="row">
    <div class="col-md-10">
      <p>Pytest is designed with the intention to have a pytest microservice which can be used by any python 2.7 based project to execute test-cases based on pytest and generate the reports in html format.</p>
      <p>This will facilitate faster dev while ensuring code quality both locally or on sdev, sdev preferred</p>
    </div>
  </div>
  <div class="row">
    <!-- Default dropright button -->
    <div class="col-md-2">
      <label class="oui-select">
        <select id="select" name="select" class="oui-select__input" ng-model="selectedValue">
          <option value="pytest">Pytest</option>
          <option value="junit" disabled>JUnit</option>
        </select>
        <span class="oui-icon oui-icon-chevron-down" aria-hidden="true"></span>
      </label>
    </div>
  </div>
  <button type="button" class="btn btn-primary col-md-2" (click)="runTest()">Run {{selectedValue}}
    <div class="oui-spinner oui-spinner_s" *ngIf="loading">
      <div class="oui-spinner__container">
        <div class="oui-spinner__image"></div>
      </div>
    </div>
  </button>
</div>

<router-outlet></router-outlet>
